.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.fullscreen {
  width: 100vw;
  height: auto;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


ul{
  list-style-type: none;
}
/* CSS for the body */
html{
  height: 100%;
}
body{
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

body{
  display: grid;
  grid-template-columns: 1fr repeat(4,1fr);
  grid-template-rows: 1fr repeat(4,1fr);
}

.header{
  grid-area: 1 / 2 / 2 / 6;
  background-color: #010409;
  border-bottom: 2px solid #30363d;
}
.sidebar{
  min-height: 100vh;
  grid-area: 1 / 1 / 6 / 2;
  background-color: #0d1117;
  border: 1px solid #30363d;
}
.content{
  grid-area: 2 / 2 / 6 / 6;
  background-color: #010409;
}

/* CSS for sidebar */
.sidebar{
  color: white;
  min-width: 250px;
}
ul{
  padding: 0;
}
.logo{
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.logo>img{
  width:2.5rem;
}
.item>img{
  width : 1.5rem;
}
.item{

  display: flex;
  gap: calc(20px + 0.5rem);
  justify-content: flex-start;
  margin-left: calc(20px + 0.5rem);
}

.sidebar{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sidebar > ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
}


/* CSS for header */

  .header{
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: repeat(3,1fr);
  }

  .search{

      grid-column: 1 / 3;
      grid-row: 1 / 2;
  }
  .noti{

      grid-column: 3 / 4;
      grid-row: 1 / 2;
  }
  .about{

      grid-column: 1 / 3;
      grid-row: 2 / 3;
  }
  .buttons{

      grid-column: 3 / 4;
      grid-row: 2 / 3;
  }

  .search > div{
      display: flex;
      gap: 20px;
      margin-top: 30px;
      margin-left: 60px;
      margin-right: 50px;
  }
  .search div img{
      width: 2rem;
  }
  .search div img:hover{
      scale: 1.1;
  }
  input{
      flex: 1;
      background-color: #0d1117;
      border: 2px solid white;
      border-radius: 20px;
      min-width: 300px;
      color: white;
      padding-left: 15px;

  }
  input:focus{
      outline: none;
  }

  .noti > div{
      display: flex;
      align-items:center;
      gap: 30px;
      padding: 20px;
      justify-content: center;
  }
  .nsymbol{
      width: 1.5rem;
  }
  .nsymbol:hover{
      scale: 1.05;
  }
  img.pfp{
      width: 50px;
      border-radius: 50%;
      border: 1px  solid #30363d;
      
  }
  .pfp:hover{
      scale: 1.05;
  }
  a{
      text-decoration: none;
      font-weight: 600;
      font-size: 1rem;
      color: white;
  }
  a:hover{
      scale: 1.05;
  }

  .about{
      color: white;
      display: flex;
      align-items: flex-start;
  }
  .about > div{
      display: flex;
      padding-left: 60px;
      align-items: center;
      gap: 20px;
  }
  .bpfp{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px  solid #30363d;
  }

  .buttons{
      display: flex;
      align-items: center;
      margin-right: 20px;
      margin-bottom: 2rem;
  }
  .buttons > div{
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      padding: 20px;
  }
  .btn{
      border-radius: 20px;
      background-color: #0085f6;
      color: white;
      flex: 1;
      height: 2.5rem;
      border: none;
      font-weight: 600;
  }

  .btn:hover{
      scale: 1.05;
  }

/* CSS for content */

.content{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.projects{
  grid-column: 1 / 2;
  background-color: #010409;
}


/* CSS for projects */

.projects > h3{
  padding: 30px 0 10px 25px;
  color : white;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
  padding: 0 20px 20px 20px;
  gap: 30px;
  margin-bottom: 40px;
}
.card{
  border-radius: 10px;
  min-height: 240px;
  background-color: #0085f6;
  border: 1px solid #30363d;
}

.card:hover{
  scale:1.02;
  
}


.cardData{
  height: 100%;
  margin-left: 10px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  background-color: #0d1117;
  padding: 10px;
  color: white;
}

.cardData{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4,1fr);
}

.cardData  a{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  font-size: calc(2.5rem - 1vw);

}
.cardData  a:hover{
  scale: 1;

}
.cardData  img {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  width: 110px;
  border-radius: 12px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 1rem;
}
.cardData img:hover{
  scale: 1.1;
}
.cardData  p{
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  position: relative;
  top: 5px;
}
.links{
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  display: flex;
  gap: 1rem;
  margin-right: auto;
  margin-left: auto;
}
.links a{
  margin-bottom: auto;
}

.links img{
  width: 1.5rem;
}



/* CSS for social */

.social{
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 40px;
}

.ants{
  background-color: #010409;
}
.trending{
  background-color: #010409;
}

.ants > h3{
  padding: 30px 0 10px 5px;
  color : white;
}

.trending > h3{
  padding: 20px 0 10px 5px;
  color : white;
}

.ants,.trending {
  display: flex;
  flex-direction: column;
}

.scard{
  flex: 1;
  margin: 0 20px 20px 0;
  border-radius: 10px;
  border: 1px solid #30363d;
  background-color: #0d1117;
  min-width: 260px;
}

.scard:hover{
  scale: 1.02;
}


.ants > .scard{
  display: grid;
  grid-template-rows: repeat(3,1fr);
}

.trending > .scard{
  display: grid;
  grid-template-rows: repeat(4,1fr);
  align-items: center;
  padding: 1rem;
}

.trending > .scard > div{
  display: flex;
  color: white;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.trending > .scard > div > img{
  display: flex;
  width: 50px;
  border-radius: 50%;
}

.trending > .scard > div > img:hover{
  scale: 1.05;
}

.ants > .scard {
color: white;
align-items: center;
padding-left :2rem;
padding-right: 1rem;
}
.ants > .scard >div:nth-child(1){
padding-top: 1rem;
padding-bottom: 1rem;
border-bottom: 1px solid #30363d;
}
.ants > .scard >div:nth-child(2){
padding-top: 1rem;
padding-bottom: 1rem;
border-bottom: 1px solid #30363d;
}

.ants > .scard >div:nth-child(3){
padding-top: 1rem;
padding-bottom: 1rem;
}

.ants > .scard > div > p{
padding-top: .5rem;;
font-size: 12px;
color: #bec0c1;
}

.ants > .scard > div > p >span > a{
font-size: 12px;
color: #bec0c1;
}